<div class="sidebar">
  <div class="menu-label">MENU</div>
  <nav style="display: flex; flex-direction: column">
    <a class="nav-link" routerLink="/paciente" routerLinkActive="active"><fa-icon icon="user-injured"></fa-icon> Pacientes</a>
    <a class="nav-link" routerLink="/agenda" routerLinkActive="active"><fa-icon icon="calendar-alt"></fa-icon> Agendas</a>
    <a class="nav-link" routerLink="/profissional" routerLinkActive="active"><fa-icon icon="user-md"></fa-icon> Profissionais</a>
    <a class="nav-link" routerLink="/especialidade" routerLinkActive="active"><fa-icon icon="star"></fa-icon> Especialidades</a>
    <a class="nav-link" routerLink="/sala" routerLinkActive="active"><fa-icon icon="door-open"></fa-icon> Salas</a>
    <a class="nav-link" routerLink="/prontuario" routerLinkActive="active"><fa-icon icon="file-medical"></fa-icon> Prontuários</a>
  </nav>
  <div class="version">Multi v1.0</div>
</div>
