@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
.navbar {
  background: #5a365f !important;
  padding: 0.6rem 1rem;
  .nav-link {
    color: #f3d6e0 !important;
  }
}
.navbar-brand.logo img {
  height: 40px !important;
  filter: none !important;
}
