<nav data-cy="navbar" class="navbar navbar-light navbar-expand-md" style="background: #5a365f; border-bottom: 3px solid #e891b5">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()" style="display: flex; align-items: center; gap: 10px">
      <img src="content/images/logo_transparente.png" alt="Multi" style="height: 40px" />
      <span style="color: #fff; font-weight: 700">Multi - Espaço Terapêutico</span>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="account !== null">
          <a class="nav-link" routerLink="/" style="color: #6b5b7b"> <fa-icon icon="home"></fa-icon> Início </a>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="admin-menu"
            data-cy="adminMenu"
            style="color: #6b5b7b"
          >
            <fa-icon icon="users-cog"></fa-icon> Administração
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="/admin/user-management" (click)="collapseNavbar()"
                ><fa-icon icon="users"></fa-icon> Gerenciamento de usuário</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" (click)="collapseNavbar()"
                ><fa-icon icon="tachometer-alt"></fa-icon> Métricas</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" (click)="collapseNavbar()"><fa-icon icon="heart"></fa-icon> Estado</a>
            </li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
          <a
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="account-menu"
            data-cy="accountMenu"
            style="color: #6b5b7b"
          >
            <fa-icon icon="user"></fa-icon> Conta
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (account() !== null) {
              <li><a class="dropdown-item" (click)="logout()">Sair</a></li>
            } @else {
              <li><a class="dropdown-item" (click)="login()">Entrar</a></li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
