.c-pacientes {
  border-left-color: #5a365f !important;
}
.c-pacientes h2,
.c-pacientes a {
  color: #5a365f !important;
}

.c-agenda {
  border-left-color: #c26b8a !important;
}
.c-agenda h2,
.c-agenda a {
  color: #c26b8a !important;
}

.c-prof {
  border-left-color: #8b5a9e !important;
}
.c-prof h2,
.c-prof a {
  color: #8b5a9e !important;
}

.c-salas {
  border-left-color: #e891b5 !important;
}
.c-salas h2,
.c-salas a {
  color: #d16d94 !important;
}
